<!DOCTYPE html>
<html>
<head>
  <title>Alpha Blog Home</title>
  <style>
body {
    background-image: url(http://www.free-vectors.com/images/Nature/073_tropical-sunset-vectors-l.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    color: #00aba9;
    }
header {
       background-color: #ffd4e5;
       color: #ff0097;
       text-align: center;
       font-family: Verdana, Arial;
       font-size: 100px;
       }
nav {
    background-color: lightgray;
    color: #ff0097;
    padding: 10px;
    width: 100px;
    height: 400px;
    float: left;
    line-height: 30px
    }

section {
        background-color: white;
        color: #00aba9;
        width: 400px;
        height: 400px;
        float: right;
        padding: 10px;
        margin: 5px;
        border: 5px solid purple;
        }

footer {
        background-color: black;
        color: white;
        font-size: 10px;
        clear: both;
        padding: 5px;
        text-align: center;
        }
</style>
</head>

<body>

<header>Alpha Blog Home</header>
<nav>Home<br>About<br>Contact</nav>
<section>
<p>Welcome to Alpha Blog's humble home!</p>
<p>Please leave your coat and hat at the door.</p>
<p>And by all means make yourself comfortable on the ratty old coach.</p>
<p>And while you're at it how about subscribing to the pretty newsletter. Go on!</p>
  <br>
<form style="text-align: center">
<p><span style="color: #ff0097">Email:</span></p>
<input type="text" name="email-address"><br><br>
  <input type="submit" value="Sign up"><br><br>
  <img src="http://www.clipartbest.com/cliparts/7Ta/o86/7Tao86B8c.jpeg" width="50px">

</form>

</section>
<footer>All rights reserved to Nisha Barak.</footer>

  <%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>
</body>
</html>