$navbar-default-bg: darkgreen;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('tree_path.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: linen;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1;
  margin-bottom: 30px;
  text-shadow: 2px 2px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid grey;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

